# Example of .env file
# 
# Copy this file content to .env and fill in the values
# This file is used as example and should not be used in production

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
