# Example of .env file
# 
# Copy this file content to .env and fill in the values
# This file is used as example and should not be used in production

# Ports
PORT=4000
DB_PORT=5432

# CORS
CORS_ORIGINS="http://localhost:5173,http://localhost:4000"

# Tokens
JWT_SECRET="jwt_secret_key"
JWT_REFRESH_SECRET="jwt_refresh_secret_key"
JWT_EXPIRES_IN=86400 # 1 day
JWT_REFRESH_EXPIRES_IN=604800 # 7 days

# Cookies
COOKIE_DOMAIN="localhost"

# Postgres
DB_USER="root"
DB_PASS="password"
DB_NAME="postgres"
DB_HOST="ychat-pg" # Docker service name

# Prisma
PRISMA_SEED_EXAMPLE_PASSWORD="SuperSecretPassword123."
